.search {
    position: absolute;
    border: none;
    background: none;
    right: 15%;
    top: 12%;
}

.navbar {
    border-bottom: 1px solid rgb(100, 100, 100);
    z-index: 1000;
    position: fixed;
    width: 100%;
}

.query {
    background-color: rgb(255, 255, 255);
    border-color: rgb(100, 100, 100);
    border-radius: 50px;
    border-width: 2px;
    margin: auto;
    width: 75%;
}

.search-bar {
    position: relative;
    display: inline-flex;
    justify-content: flex-end;
    width: 65%;
    margin: 0 2rem;
}

.account {
    width: 35%;
    display: inline-flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    margin: auto;
}

.login[type=button],
.signin[type=button] {
    padding: 5px;
    border: 1px solid whitesmoke;
    color: whitesmoke !important;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.login[type=button]:hover,
.signin[type=button]:hover {
    border: 1px solid white;
    transition: transform 0.3s ease;
    transform: scale(1.2);
}

.login[type=button] {
    background-color: rgba(235, 75, 0, 0.9);
}

.signin[type=button] {
    background-color: rgba(235, 150, 0, 0.9);
}

.login[type=button]:hover {
    background-color: rgba(180, 50, 0, 1);
}

.signin[type=button]:hover {
    background-color: rgb(200, 100, 0, 1);
}

@media screen and (max-width: 800px) {
    .query {
        width: 100%;
    }

    .search {
        right: 10px !important;
    }
}

@media screen and (max-width: 765px) {
    .query {
        width: 100%;
    }

    .search {
        right: 10px !important;
    }

    .login,
    .signin {
        font-size: 0.9rem;
    }

    .login {
        margin-right: 5px !important;
    }
}

@media screen and (max-width: 720px) {

    .login,
    .signin {
        font-size: 0.85rem;
        padding: 4px;
        margin: 0;
    }

    .login {
        margin-right: 4px !important;
    }
}

@media screen and (max-width: 575px) {
    .search {
        top: 15% !important;
    }

    .search-bar {
        width: 90%;
        margin: 1rem 0;
    }

    .account {
        width: 100%;
        justify-content: flex-end;
    }
}

.dropdown-toggle {
    border: none;
}

.dropdown-menu {
    background-color: #292c2f;
    border: 1px solid rgba(224, 255, 255, 0.25);
    width: 175px;
}

.dropdown-item {
    font-size: 1.05rem;
    margin: 2px;
}

.dropdown-item:hover {
    background-color: #464b50;
}

.dropdown-item i {
    width: 20px;
}

/* Notification */
.no-caret::after {
    display: none !important;
}

.notification-btn {
    position: relative;
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
}

.notification-btn .fa-bell {
    transition: color 0.3s ease;
}

.notification-btn:hover .fa-bell {
    color: #f1c40f;
}

.notification-dropdown .btn.show {
    color: #b08f0a !important;
}

.notification-btn .badge {
    position: absolute;
    top: -3px;
    right: -3px;
    background-color: #f00;
    color: white;
    padding: 3px 6px;
    border-radius: 50%;
    font-size: 12px;
}

.notification-dropdown {
    margin-right: 5px;
}

.notification-dropdown .dropdown-menu {
    width: 300px;
}

.notification-dropdown .dropdown-menu .dropdown-header {
    font-weight: bold;
    font-size: 16px;
}

.notification-dropdown .dropdown-menu li {
    width: 100%;
}

.notification-dropdown .dropdown-menu .dropdown-item {
    font-size: 14px;
    overflow: hidden;
    white-space: unset;
}

.notification-dropdown .dropdown-menu .dropdown-item.notification-item {
    max-height: 60px;
    padding-bottom: 20px !important;
    position: relative;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

.notification-dropdown .dropdown-menu .dropdown-item .created-date {
    bottom: 3px;
}

.notification-dropdown .dropdown-menu .dropdown-divider {
    margin: 5px 0;
}

.notification-dropdown .dropdown-item:hover,
.notification-dropdown .dropdown-item.seen:hover {
    background-color: #f1f1f1;
    color: #000000 !important;
}

.notification-dropdown .dropdown-item.seen {
    color: rgb(200, 200, 200) !important;
}

.notification-dropdown .dropdown-item:active {
    background-color: #f1f1f1;
    color: #000000 !important;
}

.navbar .nav-item {
    color: whitesmoke;
    text-align: start;
    width: 80%;
    margin: auto;
}

.navbar .nav-item i {
    margin-right: 7px;
}