.input-label {
    color: rgba(245, 245, 245, 0.75);
    padding: 5px;
    margin: 5px;
    padding-left: 0;
    margin-left: 0;
    text-align: start;
    display: block;
}

.card {
    border: 1px solid rgba(245, 245, 245, 0.2);
}

.login[type=submit] {
    border: 1px solid whitesmoke;
    color: whitesmoke;
    font-size: large;
    text-shadow: 2px 2px 4px rgba(0, 47, 255, 0.5);
    background-color: rgba(205, 68, 0, 0.9);
}

.login[type=submit]:hover {
    border: 1px solid white;
    color: whitesmoke;
    background-color: rgba(180, 50, 0, 1);
}

.custom-text {
    color: rgb(147, 255, 255);
    font-size: 0.95em;
    margin: auto;
}

.custom-text a {
    text-decoration: underline !important;
    color: rgb(156, 255, 255);
}

.custom-text a:hover {
    color: #1DA1F2;
    text-decoration: none !important;
}

.google-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4285f4;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.google-button:hover {
    background-color: #357ae8;
}

.google-button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

.google-icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.button-text {
    font-weight: bold;
}


.error-text {
    color: red;
    padding: 5px;
}

.form-group {
    position: relative;
}

.form-icon {
    background-color: inherit;
    position: absolute;
    border: none;
    top: 42px;
    font-size: 1.25em;
}

button.form-icon {
    right: 5px;
}

div.form-icon {
    right: 12px;
}