.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-overlay .modal-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    width: 400px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.modal-overlay .modal-content p {
    margin-bottom: 20px;
    font-size: 16px;
    color: #333;
}

.modal-buttons {
    display: flex;
    justify-content: space-between;
}

.modal-buttons button {
    flex: 1;
    border: 2px solid transparent;
    color: white;
    padding: 7px;
    margin: 0 5px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease, border-color 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.modal-buttons button:first-child {
    background-color: #ff5500;
    border-color: #e04d00;
}

.modal-buttons button:first-child:hover {
    background-color: #e04d00;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.modal-buttons button:last-child {
    background-color: #555;
    border-color: #444;
}

.modal-buttons button:last-child:hover {
    background-color: #444;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}