.profile-container {
    border: 1px solid rgba(211, 211, 211, 0.5);
    margin: -10px 0 20px;
    height: 300px;
    background: linear-gradient(to right, #2c3e50, #4c5c68);
    position: relative;
}

@media (max-width: 615px) {
    .profile-container {
        height: 375px;
    }
}

.profile-detail {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: 1rem;
    margin-left: 2rem;
}

.profile-cover {
    object-fit: cover;
    width: 180px;
    height: 180px;
    margin-left: 1rem;
}

.profile-name,
.profile-display-name {
    background-color: rgba(240, 248, 255, 0.9);
    margin-left: 1.25rem;
    border-radius: 1px;
    text-align: start;
    vertical-align: middle;
    padding-left: 10px !important;
}

.profile-display-name {
    font-weight: 700;
    padding: 5px;
    color: rgb(50, 50, 50, 0.9);
    font-size: 1.6rem;
}

.profile-name {
    padding: 3px;
    color: rgb(75, 75, 75, 0.9);
    font-family: 600;
    font-size: 1.1rem;
}

/* UserProfileTabs */
.user-profile-tabs {
    margin-top: 0;
}

.tab-view {
    display: flex;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
}

.tab {
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
    color: #999;
    transition: color 0.3s;
}

.tab:hover,
.tab.active {
    color: #fbfbfb;
    border-bottom: 2px solid #f50;
}

.info-container {
    position: absolute;
    bottom: 0;
    display: flex;
}

.info-item {
    max-width: 120px;
    padding: 0 10px;
    border-right: 1px solid rgb(184, 184, 184);
    margin-bottom: 3px;
}

.info-item:last-child {
    border: none;
}

.info-item span {
    display: block;
}

.info-item span:first-child {
    font-size: 14px;
}

.info-item span:last-child {
    font-size: 17px;
    font-family: 700;
}