.profile-container {
    border: 1px solid rgba(211, 211, 211, 0.5);
    margin: -10px 0 20px;
    height: 300px;
    background: linear-gradient(to right, #2c3e50, #4c5c68);
    position: relative;
}

@media (max-width: 615px) {
    .profile-container {
        height: 375px;
    }
}

.profile-detail {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: 1rem;
    margin-left: 2rem;
}

.profile-cover {
    object-fit: cover;
    width: 180px;
    height: 180px;
    margin-left: 1rem;
}

.profile-name,
.profile-display-name {
    background-color: rgba(240, 248, 255, 0.9);
    margin-left: 1.25rem;
    border-radius: 1px;
    text-align: start;
    vertical-align: middle;
    padding-left: 10px !important;
}

.profile-display-name {
    font-weight: 700;
    padding: 5px;
    color: rgb(50, 50, 50, 0.9);
    font-size: 1.6rem;
}

.profile-name {
    padding: 3px;
    color: rgb(75, 75, 75, 0.9);
    font-family: 600;
    font-size: 1.1rem;
}

/* UserProfileTabs */
.user-profile-tabs {
    margin-top: 0;
}

.tab-view {
    display: flex;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
}

.tab {
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
    color: #999;
    transition: color 0.3s;
}

.tab:hover,
.tab.active {
    color: #fbfbfb;
    border-bottom: 2px solid #f50;
}

.tracks-container {
    display: flex;
    flex-wrap: wrap;
}

.track-item {
    display: flex;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #eee;
    width: 100%;
    text-align: left;
    position: relative;
    gap: 15px;
}

.track-cover {
    width: 100px;
    height: 100px;
    border-radius: 4px;
    object-fit: cover;
}

.track-info h5 {
    margin: 0;
    font-size: 20px;
    font-weight: 600;
}

.track-info p {
    margin: 0;
    margin-top: 3px;
    font-size: 18px;
    color: #bcbcbc;
}

.track-info button,
.track-info button i {
    font-size: 14px;
}

.track-info button {
    margin-top: 7px;
    padding: 3px;
}

.track-item .play-button {
    color: rgba(245, 245, 245, 0.9);
    background-color: rgba(255, 85, 0, 0.9) !important;
    border-radius: 50% !important;
    border: none;
    width: 50px;
    height: 50px;
    position: absolute;
    left: 25px;
    opacity: 0;
}

.track-item .play-button i {
    font-size: 25px;
    text-align: center;
    vertical-align: middle;
}

.track-item .play-button:hover {
    opacity: 1;
}

.track-item .date {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 20px;
    font-size: 14px;
    color: aqua;
}

.info-container {
    position: absolute;
    bottom: 0;
    display: flex;
}

.info-item {
    max-width: 120px;
    padding: 0 10px;
    border-right: 1px solid rgb(184, 184, 184);
    margin-bottom: 3px;
}

.info-item:last-child {
    border: none;
}

.info-item span {
    display: block;
}

.info-item span:first-child {
    font-size: 14px;
}

.info-item span:last-child {
    font-size: 17px;
    font-family: 700;
}

.profile-container .follow-button {
    position: absolute;
    bottom: 0;
    right: 5px;
    width: auto;
    min-width: 40px;
    max-width: 150px;
    text-align: center;
    padding: 3px;
}

.playlist-item {
    display: flex;
    padding: 10px 0;
    border-bottom: 1px solid #eee;
    width: 100%;
    text-align: left;
    gap: 10px;
}

.playlist-item .date {
    font-size: 14px;
    margin: 0;
    margin-bottom: 5px !important;
    color: aqua;
}

.playlist-item .play-button {
    color: rgba(245, 245, 245, 0.9);
    background-color: rgba(255, 85, 0, 0.9) !important;
    border-radius: 50% !important;
    border: none;
    width: 50px;
    min-width: 50px;
    height: 50px !important;
}

.playlist-item .play-button i {
    font-size: 25px;
    text-align: center;
    vertical-align: middle;
}

.privacy {
    top: 45px;
    border: 1px solid whitesmoke;
    padding: 2px 7px;
    background-color: rgba(255, 85, 0);
    border-radius: 4px;
    vertical-align: middle;
}

.playlist-item .track-list-container {
    width: calc(100% - 30px);
    border: 1px solid rgba(245, 245, 245, 0.25);
    margin: 20px 15px 15px;
}

.playlist-item .track-list {
    max-height: 250px;
    width: 100%;
    overflow-y: hidden;
    transition: max-height 0.3s ease-in-out;
    list-style: none;
    padding: 0;
    margin: 0;
}

.playlist-item .track-item {
    display: flex;
    align-items: center;
    padding: 3px 10px 3px 3px;
    border-bottom: 1px solid rgba(245, 245, 245, 0.25);
}

.playlist-item .track-item:last-child {
    border-bottom: none;
}

.playlist-item .track-item.active span {
    color: rgb(255, 108, 35);
}

.playlist-item .track-image {
    width: 35px;
    height: 35px;
    object-fit: cover;
    margin-right: 0;
    border-radius: 4px;
}

.playlist-item .track-info {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.playlist-item .playlist-type {
    font-size: 18px !important;
    padding: 0 7px;
    font-weight: 300 !important;
    color: whitesmoke !important;

}

.playlist-item .view-more-button {
    width: 100%;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    padding: 10px;
    text-align: center;
    vertical-align: middle;
    border-top: 1px solid rgba(245, 245, 245, 0.25);
}

.playlist-item .view-more-button:hover {
    text-decoration: underline;
}

.options-dropdown {
    position: absolute;
    top: 30px;
    left: 0;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 7px;
    z-index: 1000;
    width: 150px;
}

.options-dropdown ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.options-dropdown li {
    padding: 4px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.2s;
}

.options-dropdown li:hover {
    background-color: #f0f0f0;
}