.music-tab-pane .playlist-item,
.music-tab-pane .track-item,
.music-tab-pane .artist-item {
    border-bottom: none;
}

.search-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px
}

.item {
    margin: 10px 5px;
    width: 100%;
}

.search-bar .form-control {
    padding-right: 45px;
}