.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 4rem;
    height: 100%;
    color: white;
    border-right: 1px solid rgb(100, 100, 100);
    z-index: 500;
}

.sidebar-content {
    margin-top: 70px;
    list-style: none;
    padding: 5px;
}

.sidebar-content li {
    margin: 5px 0;
    padding: 10px 0 1px;
    border-radius: 12px;
}

.sidebar-content li a{
    font-size: 0.75rem;
}

.sidebar-content li a i{
    font-size: 1rem;
}

.selected {
    background-color: rgba(200, 200, 200, 0.2);
}
