.tracks-container {
    display: flex;
    flex-wrap: wrap;
}

.track-item {
    display: flex;
    align-items: flex-start;
    padding: 10px 0;
    border-bottom: 1px solid #eee;
    width: 100%;
    text-align: left;
    position: relative;
    gap: 15px;
}

.track-cover {
    width: 120px;
    height: 120px;
    border-radius: 4px;
    object-fit: cover;
}

.track-info h5 {
    margin: 0;
    font-size: 20px;
    font-weight: 600;
    width: 80% !important;
}

.track-info p {
    margin: 0;
    margin-top: 3px;
    font-size: 18px;
    color: #bcbcbc;
}

.track-info button,
.track-info button i {
    font-size: 14px;
}

.track-info button {
    margin-top: 7px;
    padding: 3px;
}

.track-item .date {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 20px;
    font-size: 14px;
    color: aqua;
}

.track-info .play-button {
    color: rgba(245, 245, 245, 0.9);
    background-color: rgba(255, 85, 0, 0.9) !important;
    border-radius: 50% !important;
    border: none;
    width: 50px;
    min-width: 50px;
    height: 50px !important;
    margin: 0;
    padding: 0;
}

.track-info .play-button i {
    font-size: 25px;
    text-align: center;
    vertical-align: middle;
}


.options-dropdown {
    position: absolute;
    top: 30px;
    left: 0;
    background-color: whitesmoke;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.75);
    border-radius: 4px;
    padding: 7px;
    z-index: 1000;
    width: 150px;
}

.options-dropdown ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.options-dropdown li {
    padding: 4px;
    cursor: pointer;
    font-size: 15px;
    transition: background-color 0.2s;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.options-dropdown li:last-child {
    border-bottom: none;
}

.options-dropdown li:hover {
    background-color: #b9b9b9;
}