.tab-header {
    display: flex;
    border-bottom: 1px solid #ccc;
}

.tab-button {
    padding: 10px 20px;
    margin-right: 1px;
    border: 1px solid rgba(0, 0, 0, 0.75);
    background: none;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s ease;
    color: azure;
    background-color: rgba(75, 75, 75, 0.2);
    border-radius: 5px 5px 0 0;
}

.tab-button.active {
    border-bottom: 3px solid #007bff;
    background-color: rgba(75, 75, 75, 0.8);
    font-weight: bold;
}

.tab-button:hover {
    background-color: #727272a9;
}

.tab-content {
    padding: 0;
    border: 1px solid rgba(211, 211, 211, 0.1);
    border-radius: 0 0 8px 8px;
    background-color: rgba(50, 50, 50, 0.2);
}