.video-details-page .video-container {
    margin-bottom: 10px;
    width: 100%;
}

.video-details-page .video-js {
    border: 1px solid #ddd;
    border-radius: 8px;
}

@media (max-width: 576px) {
    .video-details-page .video-js {
        height: 320px !important;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .video-details-page .video-js {
        height: 320px !important;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .video-details-page .video-js {
        height: 300px !important;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .video-details-page .video-js {
        height: 410px !important;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .video-details-page .video-js {
        height: 520px !important;
    }
}

.description {
    margin: 10px 0;
    font-size: 16px;
}

.metadata {
    font-size: 14px;
    color: #666;
}

.video-details-page .follow-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    gap: 7px;
    margin: 0 7px;
    border-radius: 5px;
}

.loading,
.error {
    text-align: center;
    margin: 20px;
}