.App {
  text-align: center;
  background: #282c34 !important;
}

html {
  background: #282c34 !important;
  position: relative;
  overflow-x: hidden;
}

body {
  padding: 0 !important;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
pre,
hr,
label {
  color: whitesmoke;
}

.sidebar {
  width: 4rem;
}

.content {
  margin-top: 60px;
}

.music-content {
  min-height: 450px;
}

.content-container {
  margin-top: 20px;
  margin-left: 5rem !important;
  margin-right: 1rem !important;
}

@media (max-width: 576px) {
  .content-container {
    margin-left: 0.5rem !important;
    margin-right: 0.5rem !important;
  }
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #3498db;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  animation: spin 1s linear infinite;
  margin: auto;
  display: block;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.facebook-button {
  display: inline-block;
  position: relative;
  background-color: #202123;
  color: whitesmoke;
  border: none;
  border-radius: 40px;
  font-size: 14px;
  font-weight: 500;
  padding: 5px;
  margin: 0;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s;
  width: 400px;
  height: 40px;
}

.facebook-button:hover {
  background-color: #585d65;
}

.facebook-button i {
  color: #4267B2;
  position: absolute;
  background-color: white;
  font-size: 40px;
  padding: 0;
  top: 0;
  right: 0;
  border-radius: 50%;
}

.cursor-pointer {
  cursor: pointer;
}

.text-end {
  text-align: right;
}

.page-not-found {
  display: flex;
  flex-direction: column;
}

.page-not-found h1 {
  margin-bottom: 20px;
}

.page-not-found p {
  margin-bottom: 30px;
}

.page-not-found a {
  text-decoration: none;
  color: white;
}

.page-not-found a:hover {
  text-decoration: underline !important;
  color: #3498db !important;
}

.custom-dropdown {
  width: 100%;
  margin: 5px 0;
}

.modal-dialog,
.modal {
  padding: 0 !important;
  margin: 2rem auto;
}

.edit-modal .modal-dialog {
  max-width: 1000px !important;
}

.modal-dialog {
  max-width: 1000px;
}

.add-modal .modal-dialog {
  max-width: 550px !important;
}

.form-check-label {
  color: #333
}

.modal-body .tab-content {
  border: none !important;
}

.modal {
  margin: 0;
}

.modal .modal-body {
  padding: 10px 20px;
}

.permissions-checkbox {
  display: flex;
  align-items: center;
  text-align: justify;
}

.permissions-checkbox input[type="checkbox"] {
  appearance: none;
  background-color: #fff;
  border: 2px solid #FF5000;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
  position: relative;
  cursor: pointer;
  outline: none;
}

.permissions-checkbox input[type="checkbox"]:checked {
  background-color: #FF5000;
  border-color: #FF5000;
}

.permissions-checkbox input[type="checkbox"]:checked::before {
  font-size: 12px;
  color: white;
  position: absolute;
  top: 1px;
  left: 4px;
}

.permissions-checkbox label {
  font-size: 16px;
  color: #333;
}

.permissions-item {
  width: calc(50% - 10px);
}

@media (max-width: 576px) {
  .w-sm-90 {
    width: 90% !important;
  }
}

.form-group .form-control {
  padding-right: 35px;
}

.logo-name {
  color: #1db954;
}